@model Cik.MagazineWeb.WebApp.Infras.ViewModels.HomePage.CategoryLeftColumnViewModel

<div id="main-left" class="left">
    @foreach(var item in Model.Items)
    {
        <div class="post">
            <div class="post-title">
                <h2>
                    @Html.ActionLink(@item.ItemContent.Title, "Details", "Home", new {id=@item.Id}, null)
                </h2>
            </div>
            <div class="post-date">
                In 
                @Html.ActionLink(@item.Category.Name, "Category", "Home", new {id = item.Category.Id}, null) 
                - 
                @Html.Raw(@item.CreatedDate.Value.ToShortDateString()) by @Html.Raw(@item.CreatedBy)
            </div>
            <div class="post-date">
            </div>
            <div class="post-body">
                <p>
                    @Html.Raw(@item.ItemContent.SortDescription)
                </p>
                @Html.ActionLink("Read more >>", "Details", "Home", new {id = item.Id}, new {Class = "more"})
            </div>
        </div>
    }
    <div class="clearer">&nbsp;</div>
</div>