@model Cik.MagazineWeb.WebApp.Infras.ViewModels.HomePage.DetailsLeftColumnViewModel

<div id="main-left" class="left">
    <div class="post">
        <div class="post-title">
            <h2>
                @Html.Raw(@Model.CurrentItem.ItemContent.Title)
            </h2>
        </div>
        <div class="post-date">
            In 
            @Html.ActionLink(@Model.CurrentItem.Category.Name, "Category", "Home", new {id=Model.CurrentItem.Category.Id}, null) 
             - 
            @Html.Raw(@Model.CurrentItem.CreatedDate.Value.ToShortDateString()) by @Html.Raw(@Model.CurrentItem.CreatedBy)
        </div>
        <div class="post-date">
        </div>
        <div class="post-body">
            <p>
                @Html.Raw(@Model.CurrentItem.ItemContent.Content)
            </p>
        </div>
    </div>
</div>