@using Cik.MagazineWeb.WebApp.Infras.Extensions
@model Cik.MagazineWeb.WebApp.Infras.ViewModels.HomePage.MainPageLeftColumnViewModel

<div class="left" id="main-left">
    <div class="post">
        <div class="post-title">
            <h2>
                @Html.ActionLink(Model.FirstItem.ItemContent.Title, "Details", "Home", new {id=Model.FirstItem.Id}, null)
            </h2>
        </div>
        <div class="post-date">@Model.FirstItem.ItemContent.CreatedDate.Value.ToShortDateString() by @Model.FirstItem.ItemContent.CreatedBy</div>
        <div class="post-body">
            <p><a href="#">@Html.RenderImageWithPath(Model.FirstItem.ItemContent.BigImage, "bordered", 510, 233)</a></p>
            @Html.Raw(@Model.FirstItem.ItemContent.SortDescription)
            @Html.ActionLink("Read more >>", "Details", "Home", new {id=Model.FirstItem.Id}, new {Class="more"})
        </div>
    </div>
    <div class="content-separator"></div>
    
    @foreach(var item in Model.RemainItems)
    {
        <div class="post">
            <a href="#">@Html.RenderImageWithPath(item.ItemContent.MediumImage, "left bordered", 152, 119)</a>
            <h3>
                @Html.ActionLink(item.ItemContent.Title, "Details", "Home", new {id=item.Id}, null)
            </h3>
            @Html.Raw(@item.ItemContent.SortDescription)
            @Html.ActionLink("Read more >>", "Details", "Home", new {id=item.Id}, new {Class="more"})
            <div class="clearer">&nbsp;</div>
        </div>
        <div class="content-separator"></div>
    }
    
</div>
