<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <meta name="description" content=""/>
        <meta name="keywords" content="" />
        <meta name="author" content="" />
        @Styles.Render("~/content/homepagecss")
        @Scripts.Render("~/bundles/modernizr")
        <title>Magazine Website - @RenderSection("TitleContent", required: false)</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @RenderSection("HeaderContent", required: false)
    </head>
    <body id="top">
        <div id="network">
            <div class="center-wrapper">
                <div class="left">@DateTime.Now.ToShortDateString() <span class="text-separator">|</span> <span class="quiet">794 users online</span></div>
                <div class="right" id="toolbar">
                    @*@if(User != null)
                    {
                        @Html.ActionLink("Go to administration board", "Index", new { area="Admin", controller="DashBoard"})
                    } *@

                    @*Text size <a href="#" title="Larger text"><img src="/Content/themes/base/images/icon-plus.gif" width="20" height="20" alt="" /></a> <a href="#" title="Smaller text"><img src="/Content/themes/base/images/icon-minus.gif" width="20" height="20" alt="" /></a>*@
                </div>
                <div class="clearer">&nbsp;</div>
            </div>
        </div>
        <div id="site">
            <div class="center-wrapper">
                @RenderBody()
            </div>
        </div>
        
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>